<div class="grid-container">
  <%= button_to "New Qrcode", new_qrcode_path, class: 'qrcode--new--button', method: :get %>
  <%= button_to "Load Qrcode", new_qrcode_path, class: 'qrcode--load--button', method: :get, disabled: true %>
</div>
