<div class="grid-container">
  <h1>Save all your public addresses inside qrcode</h1>
  <div id="qrcode" class="qrcode">
    <div class="qrcode--message">
      Enter your wallets and then generate the qrcode.
    </div>
  </div>

  <div class="qrcode--generate">
    <button onClick="saveWallets()" class="qrcode--generate--button" type="button">
      Generate QR Code
    </button>
  </div>

  <div class="qrcode--load">
    <input  class="qrcode--load--token" type="text" placeholder="your token"/>
    <button onClick="loadWallets()" class="qrcode--load--button" type="button">
      <i class="fa fa-download"></i>
    </button>
  </div>

  <div class="qrcode--wallet--list"></div>

  <div class="qrcode--wallet--list--add-wallet">
    <button onClick="renderNewWallet()" class="qrcode--wallet--list--add-wallet--button" type="button">
      +
    </button>
  </div>
</div>

<%= tag :div, data: { cryptoNames: @crypto_names } %>
