<div class="grid-container">
  <%= button_to "New Qrcode", qrcode_new_path, class: 'qrcode--new--button', method: :get %>
  <%= button_to "Load Qrcode", qrcode_new_path, class: 'qrcode--load--button', method: :get, disabled: true %>
</div>
