@import 'mixins';
@import 'vars';
@import 'buttons';

body,
html {
  height: 98%;
}

input[type=text] {
  box-sizing: border-box;
  border: 2px solid $btn-color-primary;
  background-color: white;
  height: 2.5em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-gap: 10em;
  align-items: center;
  height: 80%;
}

.grid-container > div {
  background-color: $background-color;
  box-shadow: $box-shadow;
}

.qrcode--new--button {
  @include btn--primary;
  margin-top: 43%;
  font-size: 2em;
  height: 8em;
  width: 8em;
}

.qrcode--load--button {
  @include btn--success;
  margin-top: 43%;
  font-size: 2em;
  height: 8em;
  width: 8em;
  word-wrap: break-word;
}