$background-color: #e9ebee;
$btn-color-danger: #d9534f;
$btn-color-primary: #17a2b8;
$btn-color-success: #28a745;
$btn-color-secondary: #69727a;
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);